version: '3.7'

services:
  api:
    image: {{API_DOCKER_IMAGE}}
    restart: always
    networks:
     - apinet
    ports :
      - 8090:8080
               
networks:
  apinet:
    driver: bridge      